# Beginner Python codes to get comfortable with writing codes

In [4]:
# Try your first Python output

print('Hello, Python!')

Hello, Python!

In [5]:
# Check the Python Version

import sys
print(sys.version)

3.8.8 (default, Apr 13 2021, 19:58:26)
[GCC 7.3.0]

In [6]:
# Practice on writing comments

print('Hello, Python!') # This line prints a string
# print('Hi')

Hello, Python!

In [7]:
# Type of 12

type(12)

int

In [8]:
# Type of 2.14

type(2.14)

float

In [9]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

In [10]:
# Print the type of 0

type(0)

int

In [11]:
# Print the type of 0.0

type(0.0)

float

In [14]:
# Check the specifics of floats for your runtime environment, by checking the value of sys.float_info

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [15]:
# Convert 2 to a float

float(2)

2.0

In [16]:
# Convert 2 to a integer

int(2)

2

In [17]:
# Convert integer 2 to a float and check its type

type(float(2))

float

In [18]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

In [19]:
# Convert an integer to a string

str(1)

'1'

In [20]:
# Value true, T has to be in upper case to identify as Boolean

True

True

In [23]:
# Value false, F has to be in upper case to identify as Boolean
False

False

In [27]:
# Type of True

type(True)

bool

In [28]:
# Convert True to int

int(True)

1

In [29]:
# Convert False to int

int(False)

0

In [30]:
# Convert True to int

int(True)

1

In [31]:
# Convert False to int

int(False)

0

In [32]:
# Convert True to int

int(True)

1

In [35]:
type(6/2)

float

In [36]:
type(6//2)

int

In [37]:
# Addition operation expression

43 + 60 + 16 + 41

160

In [38]:
# Subtraction operation expression

50 - 60

-10

In [40]:
# Division operation expression

25 / 5

5.0

In [41]:
# Division operation expression

25 / 6

4.166666666666667

In [42]:
# Integer division operation expression

25 // 6

4

In [43]:
# Mathematical expression

(30 + 2) * 60

1920

In [44]:
# Store value into variable

x = 43 + 60 + 16 + 41

# Print out the value in variable

x

160

In [45]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

2.6666666666666665

In [46]:
# Overwrite variable with new value

x = x / 60
x

2.6666666666666665

In [47]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [48]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

In [49]:
# Complicate expression

total_hours = (43 + 42 + 57) // 60  # Total hours in a single expression as an integer
total_hours

2

In [50]:
# Use single quote or quotation marks for defining string

'Jose Aldo'

'Jose Aldo'

In [51]:
# Digitals and spaces in string

'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

In [52]:
# Special characters in string

'@#2_#]&*^%$'

'@#2_#]&*^%$'

In [53]:
# Print the string

print("namaskaram!")

namaskaram!

In [54]:
# Assign string to variable

name = 'Jose Aldo'
name

'Jose Aldo'

In [55]:
# Print the first element in the string

print(name[0])

J

In [58]:
# Print the element on index 6 in the string

print(name[6])

l

In [59]:
# Print the last element in the string

print(name[-1])

o

In [61]:
# Print the first element in the string

print(name[-9])

J

In [62]:
# Find the length of string

len("Jose Aldo")

9

In [63]:
# Take the slice on variable name with only index 0 to index 2

name[0:3]

'Jos'

In [70]:
# Take the slice on variable name with only index 7 to index 8

name[7:9]

'do'

In [71]:
# Get every second element. The elments on index 1, 3, 5 ...

name[::2]

'Js lo'

In [72]:
# Get every second element in the range from index 0 to index 4

name[0:5:2]

'Js '

In [74]:
# Concatenate two strings

statement = name + "is the GOAT"
statement

'Jose Aldois the GOAT'

In [75]:
# Print the string for 3 times

3 * "Jose Aldo"

'Jose AldoJose AldoJose Aldo'

In [76]:
# Concatenate strings

name = "Jose Aldo"
name = name + " is the GOAT"
name

'Jose Aldo is the GOAT'

In [77]:
# New line escape sequence

print(" Jose Aldo \n is the GOAT" )

 Jose Aldo
 is the GOAT

In [78]:
# Tab escape sequence

print("Jose Aldo \t is the GOAT" )

Jose Aldo 	 is the GOAT

In [79]:
# Include back slash in string

print('Jose Aldo \\ is the GOAT' )

Jose Aldo \ is the GOAT

In [81]:
# r will tell python that string will be display as raw string

print(r' Jose Aldo \ is the GOAT ')

 Jose Aldo \ is the GOAT

In [82]:
# Convert all the characters in string to upper case

a = "Jose Aldo is the Greatest of all time   "
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Jose Aldo is the Greatest of all time
After upper: JOSE ALDO IS THE GREATEST OF ALL TIME

In [83]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "Jose Aldo is the best"
b = a.replace('Jose Aldo', 'GSP')
b

'GSP is the best'

In [85]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "Jose Aldo"
name.find('Al')

5

In [88]:
# Find the substring in the string.

name.find('ose')

1

In [89]:
# If cannot find the substring in the string

name.find('GSP')

-1